@font-face {
    font-family: 'crypt1';
    src: url('chrome-extension://dbkjkokmcaeoegfphlfekppmchdmgjjb/assets/crypt1.ttf') format("truetype");
}

@font-face {
    font-family: 'crypt2';
    src: url('chrome-extension://dbkjkokmcaeoegfphlfekppmchdmgjjb/assets/crypt2.ttf') format("truetype");
}

@font-face {
    font-family: 'crypt3';
    src: url('chrome-extension://dbkjkokmcaeoegfphlfekppmchdmgjjb/assets/crypt3.ttf') format("truetype");
}


.braincrypt1 * {
    font-size: 24px;
    font-family: crypt1 !important;
}
.braincrypt2 * {
    font-size: 24px;
    font-family: crypt2 !important;
}
.braincrypt3 * {
    font-size: 24px;
    font-family: crypt3 !important;
}
