@font-face {
  font-family: 'crypt1';
  src: url('crypt1.ttf') format("truetype");
  font-family: 'crypt2';
  src: url('crypt2.ttf') format("truetype");
}
* { font-family: 'crypt1'}

#input {
  height: 200px;
  width: 100%;
  display: inline-block;
}

#text {
  display: block;
  width: 800px;
  height: 200px;
}
