@font-face {
  font-family: 'crypt1';
  src: url('crypt1.ttf') format("truetype");
  font-family: 'crypt2';
  src: url('crypt2.ttf') format("truetype");
}
* { font-family: 'crypt1'}

#input {
  height: 80vh;
  width: 40%;
  display: inline-block;
}

#text {
  display: inline-block;
  width: 50%;
  height: 90%;
}