@font-face {
    font-family: 'crypt1';
    src: url('fonts/crypt1.ttf') format("truetype");
}

@font-face {
    font-family: 'crypt2';
    src: url('fonts/crypt2.ttf') format("truetype");
}

@font-face {
    font-family: 'crypt3';
    src: url('fonts/crypt3.ttf') format("truetype");
}

body {
    font-family: 'Assistant', 'sans-serif';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    background-color: white;
    color: black;
    transition: 300ms;
}

button {
    padding: 4px 8px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}
button:hover {
    color: #4a90e2;
    border: 1px solid #4a90e2;
}
button:focus {
    outline-width: 0px;
}

.inverted * {
    background-color: black;
    color: white;
}

#app {
    height: 100%;
    width: 100%;
}

#top {
    height: 50px;
    border-bottom: 1px solid #bbbbbb;

    display: flex;
    justify-content: space-between;

    padding: 0 20px;
}
#left {
    display: flex;
    align-items: center;
}
#right {
    display: flex;
    align-items: center;
}

#main {
    height: calc(100% - 50px);
}

#logo {
    font-size: 32px;
    letter-spacing: 1.5px;
    margin-right: 20px;
}

#intensity {
    margin-right: 20px;
}

#creator-link {
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 12px;
    float: right;
    color: #dddddd;
}
#creator-link:hover {
    color: #00b4ff;
}

.half {
    vertical-align: top;
    height: 100%;
    width: 50%;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
}

#input {
    font-family: 'Assistant', 'sans-serif';
    resize: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;

    font-size: 18px;
    line-height: 28px;
}

#braincrypted {
    white-space: pre-wrap;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-size: 30px;
    letter-spacing: 1.5px;
}

span {
    margin: 0;
    padding: 0;
}

.one {
    font-family: 'crypt1';
}

.two {
    font-family: 'crypt2';
}

.three {
    font-family: 'crypt3';
}
