#action-popup {
    padding: 10px;
    font-family: monospace, Ubuntu;
}

button {
    padding: 4px 8px;
    border: 1px solid #bbb;
    background-color: #bbb;
    color: #444;
    border-radius: 4px;
}
button:focus {
    outline-width: 0;
}

#enable {
    margin-bottom: 10px;
}
#enable.enabled {
    background-color: #d5ffa5;
    color: #28a62d;
    border-color: #28a62d;
}
